---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Skillset from "../components/Skillset.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Portfolio - Joaco">
  <div class="wrapper">
    <Navbar />
    <main class="flex flex-col gap-[var(--spacer--lg)] pt-[var(--spacer--lg)]">
      <Hero />
      <Skillset />
      <Projects />
    </main>
  </div>
</Layout>

<style>
  .wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }
</style>
