---
import SectionTitle from "./SectionTitle.astro";
---

<section id="about" class="flex flex-col gap-[var(--spacer--md)] items-center">
  <SectionTitle title="About me" />
  <div
    class="flex flex-col-reverse md:flex-row items-center justify-between gap-[var(--spacer--md)]"
  >
    <div
      class="flex flex-col md:gap-2 w-full lg:w-[50%] leading-7 reveal slide-left"
    >
      <p class="text-fontS">My name is</p>
      <div>
        <span class="text-fontL gradientText font-bold">Joaquín Mesa</span>
      </div>

      <div class="flex flex-col gap-4">
        <p class="text-fontS text-balance">
          I'm a 23-year-old UX/UI Designer & Developer based in Buenos Aires. I
          am dedicated to bridging the gap between beautiful design and
          functional code. With a degree in Digital Communication and
          professional training in front-end development, I build digital
          experiences that aren't just pretty, they work.
        </p>
        <p class="text-fontS text-balance">
          I'm a firm believer in the power of AI. Integrating it into my
          workflow to push the boundaries of what's possible in design and dev.
          When I'm not coding, I'm sharing my journey with a community of +45k
          followers on Instagram and TikTok.
        </p>
      </div>
    </div>
    <div
      class="max-w-[300px] sm:max-w-[400px] md:max-w-[500px] reveal slide-right"
    >
      <img src="./assets/silla.avif" alt="Me drinking coffee" />
    </div>
  </div>
  <div class="flex flex-col items-center gap-[var(--spacer--sm)]">
    <h3 class="text-fontL font-poppinsBold">My cool office :)</h3>
    <div class="flex gap-4 flex-wrap sm:flex-nowrap">
      <div class="flex-[33%] flex">
        <img
          src="./assets/setup1.webp"
          alt="Desk setup picture"
          class="object-cover border-2 border-colorOrange rounded-md"
        />
      </div>
      <div class="flex flex-col flex-[33%] gap-4">
        <img
          src="./assets/setup3.webp"
          alt="Desk setup picture"
          class="h-2/4 object-cover border-2 border-colorOrange rounded-md"
        />
        <img
          src="./assets/setup4.webp"
          alt="Desk setup picture"
          class="h-2/4 object-cover border-2 border-colorOrange rounded-md"
        />
      </div>
      <div class="flex flex-col flex-[33%] gap-4">
        <img
          src="./assets/setup2.webp"
          alt="Desk setup picture"
          class="object-cover border-2 border-colorOrange rounded-md"
        />
        <img
          src="./assets/setup5.webp"
          alt="Desk setup picture"
          class="object-cover border-2 border-colorOrange rounded-md"
        />
      </div>
    </div>
  </div>
</section>
