---
import SectionTitle from "./SectionTitle.astro";
---

<section id="about" class="flex flex-col gap-[var(--spacer--md)] items-center">
  <SectionTitle title="About me" />
  <div
    class="flex flex-col-reverse md:flex-row items-center justify-between gap-[var(--spacer--md)]"
  >
    <div
      class="flex flex-col md:gap-2 w-full lg:w-[50%] leading-7 reveal slide-left"
    >
      <p class="text-fontS">My name is</p>
      <div>
        <span class="text-fontL gradientText font-bold">Joaquín Mesa</span>
      </div>

      <div class="flex flex-col gap-4">
        <p class="text-fontS">
          I am a 21-year-old from Buenos Aires, Argentina. I have always had a
          passion for technology, which led me to pursue a career as a Front-End
          Developer. I studied React Front-End Development at Coderhouse, where
          I gained practical knowledge and hands-on experience in building user
          interfaces. Currently, I am also studying Digital Communication at the
          University of Palermo, further expanding my skillset and understanding
          of the digital world.
        </p>
        <p class="text-fontS">
          Outside of work and studies, I love playing videogames like Fifa or
          Call of Duty. I've always been very athletic and a huge sports fan,
          specially football. Music is another very important part of my life, I
          play guitar and drums. Last but not least, I have a great level of
          English, which has helped me a lot when traveling and giving me the
          pleasure of getting to know different places and cultures.
        </p>
      </div>
    </div>
    <div
      class="max-w-[300px] sm:max-w-[400px] md:max-w-[500px] reveal slide-right"
    >
      <img src="./assets/silla.png" alt="joaco tomando cafe en una silla" />
    </div>
  </div>
  <div class="flex flex-col items-center gap-[var(--spacer--sm)]">
    <h3 class="text-fontL font-poppinsBold">My Office</h3>
    <div class="flex gap-4 flex-wrap sm:flex-nowrap">
      <div class="flex-[33%] flex">
        <img
          src="./assets/setup1.jpg"
          alt="setup"
          class="object-cover border-2 border-colorOrange rounded-md"
        />
      </div>
      <div class="flex flex-col flex-[33%] gap-4">
        <img
          src="./assets/setup3.jpg"
          alt=""
          class="h-2/4 object-cover border-2 border-colorOrange rounded-md"
        />
        <img
          src="./assets/setup4.jpg"
          alt="setup"
          class="h-2/4 object-cover border-2 border-colorOrange rounded-md"
        />
      </div>
      <div class="flex flex-col flex-[33%] gap-4">
        <img
          src="./assets/setup2.jpg"
          alt="setup"
          class="object-cover border-2 border-colorOrange rounded-md"
        />
        <img
          src="./assets/setup5.jpg"
          alt="setup"
          class="object-cover border-2 border-colorOrange rounded-md"
        />
      </div>
    </div>
  </div>
</section>

<style></style>
