---
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
---

<section
  id="contact"
  class="-z-10 flex flex-col items-center gap-[var(--spacer--md)] reveal"
>
  <SectionTitle title="Contact" />
  <p class="max-w-[500px] text-center text-fontS">
    I'm on the lookout for exciting opportunities and challenges in the
    professional world. I have a strong desire to learn, gain experience, and
    contribute with my skills to make a difference.
  </p>

  <Button href="mailto:joacomesa@gmail.com" text="Let's Talk!" />
</section>
