---
import SectionTitle from "./SectionTitle.astro";
---

<section
  id="contact"
  class="flex flex-col items-center gap-[var(--spacer--md)]"
>
  <SectionTitle title="Contact" />
  <p class="max-w-[500px] text-center text-fontS">
    I'm on the lookout for exciting opportunities and challenges in the
    professional world. I have a strong desire to learn, gain experience, and
    contribute with my skills to make a difference.
  </p>
  <a
    href="mailto:joacomesa@gmail.com"
    class="bg-[#181818] flex justify-center items-center gap-2 font-bold py-2 px-6 border-2 border-colorBlue rounded-lg hover:bg-colorBlue hover:text-colorDark duration-300"
  >
    Let's Talk!</a
  >
</section>
