---
import Button from "./Button.astro";
---

<footer
  class="flex flex-wrap gap-[var(--spacer--lg)] justify-center md:justify-between items-center p-[var(--spacer--md)] border-t-2 border-colorOrange -z-10"
>
  <div class="hover:scale-105 duration-300">
    <a href="#navbar">
      <img src="./assets/logo.svg" alt="logo" />
    </a>
  </div>
  <div class="flex items-center gap-[var(--spacer--sm)]">
    <a
      href="https://www.instagram.com/joacoo.dev/"
      target="_blank"
      class="hover:scale-110 duration-300"
    >
      <img src="./assets/instagram.svg" alt="instagram icon" />
    </a>
    <a
      href="https://www.tiktok.com/@joacoo.dev"
      target="_blank"
      class="hover:scale-110 duration-300"
    >
      <img src="./assets/tiktok.svg" alt="tiktok icon" />
    </a>
    <a
      href="https://www.linkedin.com/in/joaquinmesa22/"
      target="_blank"
      class="hover:scale-110 duration-300"
    >
      <img src="./assets/linkedin.svg" alt="linkedin icon" />
    </a>
    <a
      href="https://www.behance.net/joacomesa1"
      target="_blank"
      class="hover:scale-110 duration-300"
    >
      <img src="./assets/behance.svg" alt="behance icon" />
    </a>
    <a
      href="https://github.com/joacomesa22"
      target="_blank"
      class="hover:scale-110 duration-300"
    >
      <img src="./assets/github2.svg" alt="github icon" />
    </a>
  </div>
  <Button href="./assets/resume.pdf" text="Resume" />
</footer>
