<div class="flex justify-between items-center bg-blue">
  <div class="flex flex-col">
    <p class="text-fontL">Hello!</p>
    <h1 class="text-fontXXL2">
      I'm <span class="font-poppinsBold">Joaco</span>
    </h1>
    <h2 class="gradientText text-fontXL font-poppinsBold">
      Front-end Developer
    </h2>
    <a href="mailto:joacomesa@gmail.com">Let's talk</a>
  </div>
  <div class="max-w-[600px]">
    <img src="./assets/cafe.png" alt="joaco tomando cafe" />
  </div>
</div>
