<section
  class="flex justify-center lg:justify-between flex-wrap lg:flex-nowrap items-center bg-blue gap-[var(--spacer--lg)]"
>
  <div
    class="flex lg:items-start items-center text-center lg:text-start flex-col"
  >
    <p class="text-fontL">Hello!</p>
    <h1 class="text-fontXXL2">
      I'm <span class="font-poppinsBold">Joaco</span>
    </h1>
    <h2 class="gradientText text-fontXL font-poppinsBold">
      Front-end Developer
    </h2>
    <a
      href="mailto:joacomesa@gmail.com"
      class="bg-[#181818] flex justify-center items-center gap-2 font-bold py-2 px-6 border-2 border-colorBlue rounded-lg mt-6 hover:bg-colorBlue hover:text-colorDark duration-300"
    >
      Let's Talk!</a
    >
  </div>
  <div class="max-w-[500px]">
    <img src="./assets/cafe.png" alt="joaco tomando cafe" />
  </div>
</section>
