---
import ProjectCardFull from "./ProjectCardFull.astro";
import ProjectCardSimple from "./ProjectCardSimple.astro";
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
const fullProjects = await Astro.glob("../projects/full/*.md");
const simpleProjects = await Astro.glob("../projects/simple/*.md");
---

<section
  id="projects"
  class="flex flex-col gap-[var(--spacer--lg)] items-center px-[var(--spacer--sm)]"
>
  <div class="flex flex-col gap-[var(--spacer--md)] items-center w-full">
    <SectionTitle title="Projects" />
    <div class="flex flex-col gap-[var(--spacer--md)] w-full">
      {fullProjects.map((project) => <ProjectCardFull {project} />)}
    </div>
  </div>

  <div class="flex flex-col gap-[var(--spacer--md)] items-center w-full">
    <h3 class="text-fontL font-poppinsBold">Other cool projects...</h3>
    <div class="projectsGrid gap-[var(--spacer--sm)] w-full">
      {simpleProjects.map((project) => <ProjectCardSimple {project} />)}
    </div>
    <div class="flex flex-col items-center gap-3">
      <Button href="https://github.com/joacomesa22" text="All Projects" />
      <p class="text-fontXS">
        I've done some design work too, <a
          href="https://www.behance.net/joacomesa1"
          class="navLink text-colorBlue"
          target="_blank">Check it out!</a
        >
      </p>
    </div>
  </div>
</section>

<style>
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
