---
import ProjectCardFull from "./ProjectCardFull.astro";
import ProjectCardSimple from "./ProjectCardSimple.astro";
const fullProjects = await Astro.glob("../projects/full/*.md");
const simpleProjects = await Astro.glob("../projects/simple/*.md");
---

<div class="flex flex-col gap-[var(--spacer--md)] items-center">
  <h2
    class="text-fontXL pb-2 px-[var(--spacer--md)] border-b-4 border-[#facf61]"
  >
    Projects
  </h2>
  <div
    class="flex flex-col gap-[var(--spacer--md)] px-[var(--spacer--sm)] w-full"
  >
    {fullProjects.map((project) => <ProjectCardFull {project} />)}
  </div>
  <div class="flex flex-col items-center w-full">
    <h3>Other Noteworthy Projects</h3>
    <div
      class="projectsGrid gap-[var(--spacer--sm)] px-[var(--spacer--sm)] w-full"
    >
      {simpleProjects.map((project) => <ProjectCardSimple {project} />)}
    </div>
  </div>
</div>

<style>
  .projectsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
