---
import ProjectCardFull from "./ProjectCardFull.astro";
import ProjectCardSimple from "./ProjectCardSimple.astro";
import SectionTitle from "./SectionTitle.astro";
import Button from "./Button.astro";
const fullProjects = await Astro.glob("../projects/full/*.md");
const simpleProjects = await Astro.glob("../projects/simple/*.md");
---

<section
  id="projects"
  class="flex flex-col gap-[var(--spacer--lg)] items-center px-[var(--spacer--sm)]"
>
  <div class="flex flex-col gap-[var(--spacer--md)] items-center w-full">
    <SectionTitle title="Projects" />
    <div class="flex flex-col gap-[var(--spacer--md)] w-full">
      {fullProjects.map((project) => <ProjectCardFull {project} />)}
    </div>
  </div>

  <div class="flex flex-col gap-[var(--spacer--md)] items-center w-full">
    <h3 class="text-fontL font-poppinsBold">Other cool projects...</h3>
    <div class="projectsGrid gap-[var(--spacer--sm)] w-full">
      {simpleProjects.map((project) => <ProjectCardSimple {project} />)}
    </div>
    <Button href="https://github.com/joacomesa22" text="All Projects" />
  </div>
  <style>
    .projectsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  </style>
</section>
