<div class="flex items-center flex-col gap-[var(--spacer--md)]">
  <h2
    class="text-fontXL pb-2 px-[var(--spacer--md)] border-b-4 border-[#facf61]"
  >
    Skillset
  </h2>
  <div
    class="flex justify-center max-w-[800px] gap-[var(--spacer--md)] flex-wrap"
  >
    <img src="./assets/html.svg" />
    <img src="./assets/css.svg" />
    <img src="./assets/sass.svg" />
    <img src="./assets/js.svg" />
    <img src="./assets/react.svg" />
    <img src="./assets/html.svg" />
    <img src="./assets/css.svg" />
    <img src="./assets/sass.svg" />
    <img src="./assets/js.svg" />
    <img src="./assets/react.svg" />
    <img src="./assets/html.svg" />
    <img src="./assets/css.svg" />
    <img src="./assets/sass.svg" />
    <img src="./assets/js.svg" />
    <img src="./assets/react.svg" />
  </div>
</div>
