---
import SectionTitle from "./SectionTitle.astro";
---

<section
  id="skillset"
  class="flex items-center flex-col gap-[var(--spacer--md)] reveal"
>
  <SectionTitle title="Skillset" />
  <div
    class="flex justify-center max-w-[460px] md:max-w-[600px] gap-[var(--spacer--md)] md:gap-[var(--spacer--md)] flex-wrap"
  >
    <img
      src="./assets/html.svg"
      class="max-w-[45px] md:max-w-[60px]"
      alt="HTML logo"
    />
    <img
      src="./assets/css.svg"
      class="max-w-[45px] md:max-w-[60px]"
      alt="CSS logo"
    />
    <img
      src="./assets/js.svg"
      class="max-w-[45px] md:max-w-[60px]"
      alt="JavaScrpt logo"
    />
    <img
      src="./assets/react.svg"
      class="max-w-[55px] md:max-w-[70px]"
      alt="React logo"
    />
    <img
      src="./assets/tailwind.svg"
      class="max-w-[55px] md:max-w-[70px]"
      alt="Tailwind CSS logo"
    />
    <img
      src="./assets/bootstrap.svg"
      class="max-w-[55px] md:max-w-[70px]"
      alt="Bootstrap logo"
    />
    <img
      src="./assets/sass.svg"
      class="max-w-[55px] md:max-w-[70px]"
      alt="Sass logo"
    />
    <img
      src="./assets/astro.svg"
      class="max-w-[45px] md:max-w-[60px]"
      alt="Astro logo"
    />
    <img
      src="./assets/next.svg"
      class="max-w-[55px] md:max-w-[70px]"
      alt="Next JS logo"
    />
    <img
      src="./assets/sql.svg"
      class="max-w-[55px] md:max-w-[70px]"
      alt="SQL logo"
    />
    <img
      src="./assets/firebase.svg"
      class="max-w-[40px] md:max-w-[55px]"
      alt="Firebase logo"
    />
    <img
      src="./assets/figma.svg"
      class="max-w-[40px] md:max-w-[55px]"
      alt="Figma logo"
    />
  </div>
</section>
